html, body {
    margin: 0;
    padding: 0;
}

.header {
    height: 60px;
    line-height: 60px;
    padding: 20px;
    background-color: palegoldenrod;
}

h1{
    margin: 0;
    float: left;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}

ul a {
    color: rebeccapurple;
    text-decoration: none;
}

ul li {
    margin-left: 20px;
    float: left;
}

.content {
    width: 70%;
    background-color: lightgray;
    height: 500px;
    float: left;
}

.sidebar {
    width: 30%;
    background-color: grey;
    color: #fff;
    height: 500px;
    float: right;
}

p {
    margin: 20px;
}

.blog-post {
    margin: 10px;
    background-color: #fff;
    padding: 10px;
    border-color: #grey;
    border-radius: 5px;
}

img {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}